interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/accounts/mv1FWz2yj1J46kNnw4NkUcuaJdRgZp1tUkz2
  response:
    body:
      string: '{"id":10,"type":"delegate","address":"mv1FWz2yj1J46kNnw4NkUcuaJdRgZp1tUkz2","active":true,"publicKey":"edpkva82FNMsEwbo8D4wmSSNwpAfvxF6QxXK2wT6r3SJuMSukK5RUh","revealed":true,"balance":11081586328516,"rollupBonds":0,"smartRollupBonds":0,"stakedBalance":5860942649646,"unstakedBalance":105878943814,"unstakedValidator":{"address":"mv1FWz2yj1J46kNnw4NkUcuaJdRgZp1tUkz2"},"externalStakedBalance":0,"externalUnstakedBalance":0,"roundingError":0,"totalStakedBalance":5860942649646,"stakersCount":0,"counter":3,"activationLevel":1,"activationTime":"2025-09-09T13:04:11Z","stakingBalance":58606363170622,"delegatedBalance":47524776842106,"numContracts":0,"rollupsCount":0,"smartRollupsCount":0,"activeTokensCount":0,"tokenBalancesCount":0,"tokenTransfersCount":0,"activeTicketsCount":0,"ticketBalancesCount":0,"ticketTransfersCount":0,"numDelegators":34,"numBlocks":15047,"numEndorsements":119986,"numPreendorsements":2,"numBallots":0,"numProposals":0,"numActivations":0,"numDoubleBaking":0,"numDoubleEndorsing":0,"numDoublePreendorsing":0,"numNonceRevelations":190,"vdfRevelationsCount":0,"numRevelationPenalties":0,"numEndorsingRewards":5,"numDelegations":36,"numOriginations":0,"numTransactions":2,"numReveals":0,"numRegisterConstants":0,"numSetDepositsLimits":0,"numMigrations":1,"txRollupOriginationCount":0,"txRollupSubmitBatchCount":0,"txRollupCommitCount":0,"txRollupReturnBondCount":0,"txRollupFinalizeCommitmentCount":0,"txRollupRemoveCommitmentCount":0,"txRollupRejectionCount":0,"txRollupDispatchTicketsCount":0,"transferTicketCount":0,"increasePaidStorageCount":0,"updateConsensusKeyCount":0,"drainDelegateCount":0,"smartRollupAddMessagesCount":0,"smartRollupCementCount":0,"smartRollupExecuteCount":0,"smartRollupOriginateCount":0,"smartRollupPublishCount":0,"smartRollupRecoverBondCount":0,"smartRollupRefuteCount":0,"refutationGamesCount":0,"activeRefutationGamesCount":0,"stakingOpsCount":0,"autostakingOpsCount":5,"stakingUpdatesCount":8,"setDelegateParametersOpsCount":1,"dalPublishCommitmentOpsCount":0,"firstActivity":1,"firstActivityTime":"2025-09-09T13:04:11Z","lastActivity":120003,"lastActivityTime":"2025-09-25T08:15:09Z","software":{"date":"2025-09-13T00:41:01Z"},"lostBalance":0,"frozenDeposit":5860942649646,"frozenDeposits":5860942649646,"frozenRewards":0,"frozenFees":0}'
    headers:
      Content-Type:
      - application/json
      mvkt-known-level:
      - '120003'
      mvkt-level:
      - '120003'
      mvkt-synced-at:
      - '2025-09-25T08:15:09Z'
      mvkt-version:
      - 1.14.4.0
    status:
      code: 200
      message: OK
version: 1
