interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/accounts/mv1DYQcWfwVBm4eRp7n3dbZ8YJuE7YfQNcFf
  response:
    body:
      string: '{"id":643,"type":"user","address":"mv1DYQcWfwVBm4eRp7n3dbZ8YJuE7YfQNcFf","publicKey":"edpkutgsDXY2CYrT6bw7QDsEzZim2u1UGpsarjBRxyxojtjESjYbpq","revealed":true,"balance":911263,"rollupBonds":0,"smartRollupBonds":0,"stakedBalance":0,"unstakedBalance":0,"counter":1500,"numContracts":0,"rollupsCount":0,"smartRollupsCount":0,"activeTokensCount":0,"tokenBalancesCount":0,"tokenTransfersCount":0,"activeTicketsCount":0,"ticketBalancesCount":0,"ticketTransfersCount":0,"numActivations":0,"numDelegations":0,"numOriginations":0,"numTransactions":4,"numReveals":1,"numRegisterConstants":0,"numSetDepositsLimits":0,"numMigrations":0,"txRollupOriginationCount":0,"txRollupSubmitBatchCount":0,"txRollupCommitCount":0,"txRollupReturnBondCount":0,"txRollupFinalizeCommitmentCount":0,"txRollupRemoveCommitmentCount":0,"txRollupRejectionCount":0,"txRollupDispatchTicketsCount":0,"transferTicketCount":0,"increasePaidStorageCount":0,"drainDelegateCount":0,"smartRollupAddMessagesCount":0,"smartRollupCementCount":0,"smartRollupExecuteCount":0,"smartRollupOriginateCount":0,"smartRollupPublishCount":0,"smartRollupRecoverBondCount":0,"smartRollupRefuteCount":0,"refutationGamesCount":0,"activeRefutationGamesCount":0,"stakingOpsCount":0,"stakingUpdatesCount":0,"setDelegateParametersOpsCount":0,"dalPublishCommitmentOpsCount":0,"firstActivity":68217,"firstActivityTime":"2025-09-19T08:15:49Z","lastActivity":104071,"lastActivityTime":"2025-09-23T11:51:29Z","lostBalance":0}'
    headers:
      Content-Type:
      - application/json
      Mvkt-Known-Level:
      - '154796'
      Mvkt-Level:
      - '154796'
      Mvkt-Synced-At:
      - '2025-09-29T08:58:29Z'
      Mvkt-Version:
      - 1.14.4.0
    status:
      code: 200
      message: OK
[...]
