interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/rewards/split/mv1CjNm5kcHDBKs5ZwaejxzMUcMVvNGyLC9D/5?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":5,"bakingPower":13588383509806,"totalBakingPower":101977583096576,"ownDelegatedBalance":9137159953145,"externalDelegatedBalance":16448599000000,"delegatorsCount":8,"ownStakedBalance":2842862105905,"externalStakedBalance":0,"stakersCount":0,"expectedBlocks":3274,"expectedEndorsements":22923045,"futureBlocks":0,"futureBlockRewards":0,"blocks":3286,"blockRewardsDelegated":17267807761,"blockRewardsStakedOwn":4571569090,"blockRewardsStakedEdge":0,"blockRewardsStakedShared":0,"missedBlocks":4,"missedBlockRewards":21308712,"futureEndorsements":0,"futureEndorsementRewards":0,"endorsements":22901186,"endorsementRewardsDelegated":17257145202,"endorsementRewardsStakedOwn":4565593638,"endorsementRewardsStakedEdge":0,"endorsementRewardsStakedShared":0,"missedEndorsements":24264,"missedEndorsementRewards":0,"blockFees":15874221,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLostStaked":0,"doubleBakingLostUnstaked":0,"doubleBakingLostExternalStaked":0,"doubleBakingLostExternalUnstaked":0,"doubleEndorsingRewards":0,"doubleEndorsingLostStaked":0,"doubleEndorsingLostUnstaked":0,"doubleEndorsingLostExternalStaked":0,"doubleEndorsingLostExternalUnstaked":0,"doublePreendorsingRewards":0,"doublePreendorsingLostStaked":0,"doublePreendorsingLostUnstaked":0,"doublePreendorsingLostExternalStaked":0,"doublePreendorsingLostExternalUnstaked":0,"vdfRevelationRewardsDelegated":98847,"vdfRevelationRewardsStakedOwn":26152,"vdfRevelationRewardsStakedEdge":0,"vdfRevelationRewardsStakedShared":0,"nonceRevelationRewardsDelegated":12652416,"nonceRevelationRewardsStakedOwn":3347456,"nonceRevelationRewardsStakedEdge":0,"nonceRevelationRewardsStakedShared":0,"nonceRevelationLosses":0,"delegators":[{"address":"KT1WUjHpHtLdtnw6S3A6kH7cia6HCEzWLGqi","delegatedBalance":8878505000000,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":8878505000000,"currentBalance":514},{"address":"KT1Lao27WpW7sf4qAopUUKjc5QZFPxn6ZYfj","delegatedBalance":2336449000000,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":2336449000000,"currentBalance":514},{"address":"KT1XL6VdDrxt9c9LRgAtMsBLFkTfrZmy9g96","delegatedBalance":1401869000000,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":1401869000000,"currentBalance":514},{"address":"KT194AS7JC1hovTVmy38YtwsoQFV97CT7BTw","dele[...]
