interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/rewards/split/mv1CjNm5kcHDBKs5ZwaejxzMUcMVvNGyLC9D/5?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":5,"bakingPower":13588383509806,"totalBakingPower":101977583096576,"ownDelegatedBalance":9137159953145,"externalDelegatedBalance":16448599000000,"delegatorsCount":8,"ownStakedBalance":2842862105905,"externalStakedBalance":0,"stakersCount":0,"expectedBlocks":3274,"expectedEndorsements":22923045,"futureBlocks":2496,"futureBlockRewards":16635483072,"blocks":792,"blockRewardsDelegated":4161046795,"blockRewardsStakedOwn":1100859115,"blockRewardsStakedEdge":0,"blockRewardsStakedShared":0,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":17584074,"futureEndorsementRewards":21822738840,"endorsements":5341376,"endorsementRewardsDelegated":0,"endorsementRewardsStakedOwn":0,"endorsementRewardsStakedEdge":0,"endorsementRewardsStakedShared":0,"missedEndorsements":0,"missedEndorsementRewards":0,"blockFees":6187,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLostStaked":0,"doubleBakingLostUnstaked":0,"doubleBakingLostExternalStaked":0,"doubleBakingLostExternalUnstaked":0,"doubleEndorsingRewards":0,"doubleEndorsingLostStaked":0,"doubleEndorsingLostUnstaked":0,"doubleEndorsingLostExternalStaked":0,"doubleEndorsingLostExternalUnstaked":0,"doublePreendorsingRewards":0,"doublePreendorsingLostStaked":0,"doublePreendorsingLostUnstaked":0,"doublePreendorsingLostExternalStaked":0,"doublePreendorsingLostExternalUnstaked":0,"vdfRevelationRewardsDelegated":0,"vdfRevelationRewardsStakedOwn":0,"vdfRevelationRewardsStakedEdge":0,"vdfRevelationRewardsStakedShared":0,"nonceRevelationRewardsDelegated":12652416,"nonceRevelationRewardsStakedOwn":3347456,"nonceRevelationRewardsStakedEdge":0,"nonceRevelationRewardsStakedShared":0,"nonceRevelationLosses":0,"delegators":[{"address":"KT1WUjHpHtLdtnw6S3A6kH7cia6HCEzWLGqi","delegatedBalance":8878505000000,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":8878505000000,"currentBalance":514},{"address":"KT1Lao27WpW7sf4qAopUUKjc5QZFPxn6ZYfj","delegatedBalance":2336449000000,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":2336449000000,"currentBalance":514},{"address":"KT1XL6VdDrxt9c9LRgAtMsBLFkTfrZmy9g96","delegatedBalance":1401869000000,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":1401869000000,"currentBalance":514},{"address":"KT194AS7JC1hovTVmy38YtwsoQFV97CT7BTw","dele[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXXAAR1wWQhhe","cycle":5,"level":112222,"hash":"BL1WFMzRrsMreVx61jZKSgYihHEJq5eQP5bjTApMK7Xd3MvsENx","protocol":"PtBoreasK2KPuKbeYtXeEdudEHS7YcMFHE9amwheUc4kejTxgRi","nextProtocol":"PtBoreasK2KPuKbeYtXeEdudEHS7YcMFHE9amwheUc4kejTxgRi","timestamp":"2025-09-24T10:33:19Z","votingEpoch":0,"votingPeriod":0,"knownLevel":112222,"lastSync":"2025-09-24T10:33:29Z","synced":true,"quoteLevel":-1,"quoteBtc":0,"quoteEur":0,"quoteUsd":0,"quoteCny":0,"quoteJpy":0,"quoteKrw":0,"quoteEth":0,"quoteGbp":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      mvkt-known-level:
      - '112222'
      mvkt-level:
      - '112222'
      mvkt-synced-at:
      - '2025-09-24T10:33:29Z'
      mvkt-version:
      - 1.14.4.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://rpc.mavryk.network/chains/main/blocks/head/context/contracts/mv1DYQcWfwVBm4eRp7n3dbZ8YJuE7YfQNcFf/counter
  response:
    body:
      string: '"1500"

        '
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '1500'
      x-ratelimit-remaining:
      - '1499'
      x-ratelimit-reset:
      - '1758710070'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://rpc.mavryk.network/chains/main/blocks/head~10
  response:
    body:
      string: '{"protocol":"PtBoreasK2KPuKbeYtXeEdudEHS7YcMFHE9amwheUc4kejTxgRi","chain_id":"NetXXAAR1wWQhhe","hash":"BLUf1SLmkbbnnSxafQ8UCa7hNkciJZMFaFyMtKyU73HJuwQCiR7","header":{"level":112213,"proto":2,"predecessor":"BLmTmMUUTxosQfyVA6qJiaojRNpqvbRyT3vXeqXaRP8s8RYpszT","timestamp":"2025-09-24T10:31:49Z","validation_pass":4,"operations_hash":"LLoZtPicPcmdodAFYWRaHUFFyH3beU8BZLMRZXvo8umXersF1hZ5U","fitness":["02","0001b655","","ffffffff","00000000"],"context":"CoVRP7xirNcMYPULTmEN9R4rCCejT1f9hcvVadffAmgmx7Kd4wgW","payload_hash":"vh2f7j5ykvZUvE5ua7DiL1QshsmPkehwNRDxE4LxHcRDHAgNUEWi","payload_round":0,"proof_of_work_nonce":"9b9b3c104b400000","liquidity_baking_toggle_vote":"on","adaptive_issuance_vote":"on","signature":"sigXgnbHB1L1uqGwythQogoF4KUF19oNNCBtDk3DEiF3Gzq5STN1imtQzxWcv8gu5sh1BqhFp1nac9uxz2m6PZUqbW1pFkj3"},"metadata":{"protocol":"PtBoreasK2KPuKbeYtXeEdudEHS7YcMFHE9amwheUc4kejTxgRi","next_protocol":"PtBoreasK2KPuKbeYtXeEdudEHS7YcMFHE9amwheUc4kejTxgRi","test_chain_status":{"status":"not_running"},"max_operations_ttl":360,"max_operation_data_length":32768,"max_block_header_length":289,"max_operation_list_length":[{"max_size":4194304,"max_op":2048},{"max_size":32768},{"max_size":135168,"max_op":132},{"max_size":524288}],"proposer":"mv1KscSac2FXLeksvSChMMaHB8o1p7eJccg3","baker":"mv1KscSac2FXLeksvSChMMaHB8o1p7eJccg3","level_info":{"level":112213,"level_position":112212,"cycle":5,"cycle_position":5716,"expected_commitment":false},"voting_period_info":{"voting_period":{"index":0,"kind":"proposal","start_position":0},"position":112212,"remaining":10667},"nonce_hash":null,"deactivated":[],"balance_updates":[{"kind":"minted","category":"baking
        rewards","change":"-503893","origin":"block"},{"kind":"freezer","category":"deposits","staker":{"baker_own_stake":"mv1KscSac2FXLeksvSChMMaHB8o1p7eJccg3"},"change":"503893","origin":"block"},{"kind":"minted","category":"baking
        rewards","change":"-2829440","origin":"block"},{"kind":"contract","contract":"mv1KscSac2FXLeksvSChMMaHB8o1p7eJccg3","change":"2829440","origin":"block"},{"kind":"minted","category":"baking
        bonuses","change":"-501676","origin":"block"},{"kind":"freezer","category":"deposits","staker":{"baker_own_stake":"mv1KscSac2FXLeksvSChMMaHB8o1p7eJccg3"},"change":"501676","origin":"block"},{"kind":"minted","category":"baking
        bonuses","change":"-2816996","origin":"block"},{"kind":"contract","contract":"mv1KscSac2FXLeksvSChMMaHB8o1p7eJccg3","change":"2816996","origin":"block"}],"liquidity_baking_toggle_ema":0,"adaptive_issuance_vote_ema":731402025,"adaptive_issuance_activation_cycle":7,"implicit_operations_results":[{"kind":"transaction","storage":[{"prim":"Pair","args":[{"int":"4"},{"prim":"Pair","args":[{"int":"30"},{"int":"12"}]}]},{"int":"4"},{"prim":"None"},{"int":"5"},{"int":"0"},{"int":"0"},{"prim":"Pair","args":[{"int":"1757674855"},{"int":"1760266855"}]},[{"bytes":"00000d7d06eeef5f99933d42473f8ded0c222542478e"},{"bytes":"000033cbef20196278f6fcc2768f089a7f2067696d73"},{"bytes":"00003cb107cbf368019cd8e9740965cb749ccdb1d939"},{"bytes":"0000482f23fb244a1bcc0a61d0e3d084bb6112259679"},{"bytes":"0000754eb558a9d0077cbc626fc25a92d73412c0853a"},{"bytes":"0000a789ea128f2e4314a46beb23e17e2f988da3e59b"},{"bytes":"0000d204175371b59f3d5c46e8120bbc05ccc7b3695d"}],[{"bytes":"0000980edeb9f36a851e1cf14d908164bd0e9bc96ec3"}],{"int":"6"},{"int":"7"},{"int":"8"},{"int":"9"},{"int":"10"},{"int":"11"},{"int":"12"},{"int":"13"},{"int":"14"},{"int":"15"},{"int":"16"},{"int":"17"},{"int":"0"}],"balance_updates":[{"kind":"minted","category":"subsidy","change":"-833333","origin":"subsidy"},{"kind":"contract","contract":"KT18vR1HXic9ajAwpDjBWipBqzs4djUe6Lx2","change":"833333","origin":"subsidy"}],"consumed_milligas":"729383","storage_size":"21520","lazy_storage_diff":[{"kind":"big_map","id":"17","diff":{"action":"update","updates":[]}},{"kind":"big_map","id":"16","diff":{"action":"update","updates":[]}},{"kind":"big_map","id":"15","diff":{"action":"update","updates":[]}},{"kind":"big_map","id":"14","diff":{"action":"update","updates":[]}},{"kind":"big_map","id":"13","diff":{"action":"update","updates":[]}},{"kind":"big_map","id":"12","diff":{"action":"update","updates":[]}},{"kind":"big_map","id":"11","diff":{"action":"update","updates":[]}},{"kind":"big_map","id":"10","diff":{"action":"update","updates":[]}},{"kind":"big_map","id":"9","diff":{"action":"update","updates":[]}},{"kind":"big_map","id":"8","diff":{"action":"update","updates":[]}},{"kind":"big_map","id":"7","diff":{"action":"update","updates":[]}},{"kind":"big_map","id":"6","diff":{"action":"update","updates":[]}},{"kind":"big_map","id":"5","diff":{"action":"update","updates":[]}},{"kind":"big_map","id":"4","diff":{"action":"update","updates":[]}}]}],"proposer_consensus_key":"mv1KscSac2FXLeksvSChMMaHB8o1p7eJccg3","baker_consensus_key":"mv1KscSac2FXLeksvSChMMaHB8o1p7eJccg3","consumed_milligas":"0","dal_attestation":"0"},"operations":[[{"protocol":"PtBoreasK2KPuKbeYtXeEdudEHS7YcMFHE9amwheUc4kejTxgRi","chain_id":"NetXXAAR1wWQhhe","hash":"ooM686qRE92y7svdiJysVzEf3RhSdoDs1ZFxTidbAStGsf2NCvt","branch":"BM2ytGdph9H9scEguMLSxK2EuCYC2usGuTexhmThm6Bqk7DsJ1Q","contents":[{"kind":"attestation","slot":0,"level":112212,"round":0,"block_payload_hash":"vh2nG43juPtSv4z8bMkCgRoZoWHfsBt3XtHFib7BVWwdZGPsiLq2","metadata":{"delegate":"mv1CjNm5kcHDBKs5ZwaejxzMUcMVvNGyLC9D","consensus_power":906,"consensus_key":"mv1CjNm5kcHDBKs5ZwaejxzMUcMVvNGyLC9D"}}],"signature":"sigmYqmnQsLH9jfCjURxpHEuGSC6nhux5QXhdmyiYT1iPiDjyLogPZd13YZgePaJHwhGL7CJfVN9HJhaTEggvm2QE9RS61eD"},{"protocol":"PtBoreasK2KPuKbeYtXeEdudEHS7YcMFHE9amwheUc4kejTxgRi","chain_id":"NetXXAAR1wWQhhe","hash":"ooG9pJLuB2TnaJZBsfN6SYGcaQSn1HxruQkpAzLeU9tUpHfYUH2","branch":"BM2ytGdph9H9scEguMLSxK2EuCYC2usGuTexhmThm6Bqk7DsJ1Q","contents":[{"kind":"attestation","slot":1,"level":112212,"round":0,"block_payload_hash":"vh2nG43juPtSv4z8bMkCgRoZoWHfsBt3XtHFi[...]
- request:
    body: '{"operation": {"branch": "BLUf1SLmkbbnnSxafQ8UCa7hNkciJZMFaFyMtKyU73HJuwQCiR7","contents":[{"kind":"transaction","source":"mv1DYQcWfwVBm4eRp7n3dbZ8YJuE7YfQNcFf","destination":"mv1KscSac2FXLeksvSChMMaHB8o1p7eJccg3","fee":"397","counter":"1501","gas_limit":"1421","storage_limit":"277","amount":"301588218"},{"kind":"transaction","source":"mv1DYQcWfwVBm4eRp7n3dbZ8YJuE7YfQNcFf","destination":"mv1Bm6GciQqJiKHvm7BvCZoFsZ4YejxTpVpY","fee":"397","counter":"1502","gas_limit":"1421","storage_limit":"277","amount":"100482975"},{"kind":"transaction","source":"mv1DYQcWfwVBm4eRp7n3dbZ8YJuE7YfQNcFf","destination":"mv1F1uHGUvp6DwfokBqMddz6mPZ7imjjg9X5","fee":"397","counter":"1503","gas_limit":"1421","storage_limit":"277","amount":"1490437528"}],
      "signature":"edsigtXomBKi5CTRf5cjATJWSyaRvhfYNHqSUGrn4SdbYRcGwQrUGjzEfQDTuqHhuA8b2d8NarZjz8TRf65WkpQmo423BtomS8Q"},"chain_id":"NetXXAAR1wWQhhe"}'
    headers:
      content-type:
      - application/json
    method: POST
    uri: https://rpc.mavryk.network/chains/main/blocks/head/helpers/scripts/run_operation
  response:
    body:
      string: '{"contents":[{"kind":"transaction","source":"mv1DYQcWfwVBm4eRp7n3dbZ8YJuE7YfQNcFf","fee":"397","counter":"1501","gas_limit":"1421","storage_limit":"277","amount":"301588218","destination":"mv1KscSac2FXLeksvSChMMaHB8o1p7eJccg3","metadata":{"balance_updates":[{"kind":"contract","contract":"mv1DYQcWfwVBm4eRp7n3dbZ8YJuE7YfQNcFf","change":"-397","origin":"block"},{"kind":"accumulator","category":"block
        fees","change":"397","origin":"block"}],"operation_result":{"status":"failed","errors":[{"kind":"temporary","id":"proto.002-PtBoreas.contract.balance_too_low","contract":"mv1DYQcWfwVBm4eRp7n3dbZ8YJuE7YfQNcFf","balance":"910072","amount":"301588218"},{"kind":"temporary","id":"proto.002-PtBoreas.mav.subtraction_underflow","amounts":["910072","301588218"]}]}}},{"kind":"transaction","source":"mv1DYQcWfwVBm4eRp7n3dbZ8YJuE7YfQNcFf","fee":"397","counter":"1502","gas_limit":"1421","storage_limit":"277","amount":"100482975","destination":"mv1Bm6GciQqJiKHvm7BvCZoFsZ4YejxTpVpY","metadata":{"balance_updates":[{"kind":"contract","contract":"mv1DYQcWfwVBm4eRp7n3dbZ8YJuE7YfQNcFf","change":"-397","origin":"block"},{"kind":"accumulator","category":"block
        fees","change":"397","origin":"block"}],"operation_result":{"status":"skipped"}}},{"kind":"transaction","source":"mv1DYQcWfwVBm4eRp7n3dbZ8YJuE7YfQNcFf","fee":"397","counter":"1503","gas_limit":"1421","storage_limit":"277","amount":"1490437528","destination":"mv1F1uHGUvp6DwfokBqMddz6mPZ7imjjg9X5","metadata":{"balance_updates":[{"kind":"contract","contract":"mv1DYQcWfwVBm4eRp7n3dbZ8YJuE7YfQNcFf","change":"-397","origin":"block"},{"kind":"accumulator","category":"block
        fees","change":"397","origin":"block"}],"operation_result":{"status":"skipped"}}}],"signature":"edsigtXomBKi5CTRf5cjATJWSyaRvhfYNHqSUGrn4SdbYRcGwQrUGjzEfQDTuqHhuA8b2d8NarZjz8TRf65WkpQmo423BtomS8Q"}

        '
    headers:
      Content-Type:
      - application/json
      x-ratelimit-limit:
      - '1500'
      x-ratelimit-remaining:
      - '1498'
      x-ratelimit-reset:
      - '1758710070'
    status:
      code: 200
      message: OK
[...]
