interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/accounts/mv1T9xoFWkkNgy6wH5xeDg9XgdwnqznpuDXs
  response:
    body:
      string: '{"id":3,"type":"delegate","address":"mv1T9xoFWkkNgy6wH5xeDg9XgdwnqznpuDXs","active":true,"publicKey":"edpkvRKe9jhBeaMMhbYoRmbe6euy2QWyCCGac7kb3MSBqmU9BY3j3A","revealed":true,"balance":12140318777274,"rollupBonds":0,"smartRollupBonds":0,"stakedBalance":12130699997421,"unstakedBalance":0,"externalStakedBalance":0,"externalUnstakedBalance":0,"roundingError":0,"totalStakedBalance":12130699997421,"stakersCount":0,"counter":11,"activationLevel":1,"activationTime":"2025-09-09T13:04:11Z","stakingBalance":298049878332928,"delegatedBalance":285909559555654,"numContracts":0,"rollupsCount":0,"smartRollupsCount":0,"activeTokensCount":0,"tokenBalancesCount":0,"tokenTransfersCount":0,"activeTicketsCount":0,"ticketBalancesCount":0,"ticketTransfersCount":0,"numDelegators":156,"numBlocks":21014,"numEndorsements":164188,"numPreendorsements":4,"numBallots":0,"numProposals":0,"numActivations":0,"numDoubleBaking":0,"numDoubleEndorsing":0,"numDoublePreendorsing":0,"numNonceRevelations":98,"vdfRevelationsCount":0,"numRevelationPenalties":0,"numEndorsingRewards":7,"numDelegations":182,"numOriginations":0,"numTransactions":10,"numReveals":0,"numRegisterConstants":0,"numSetDepositsLimits":0,"numMigrations":1,"txRollupOriginationCount":0,"txRollupSubmitBatchCount":0,"txRollupCommitCount":0,"txRollupReturnBondCount":0,"txRollupFinalizeCommitmentCount":0,"txRollupRemoveCommitmentCount":0,"txRollupRejectionCount":0,"txRollupDispatchTicketsCount":0,"transferTicketCount":0,"increasePaidStorageCount":0,"updateConsensusKeyCount":0,"drainDelegateCount":0,"smartRollupAddMessagesCount":0,"smartRollupCementCount":0,"smartRollupExecuteCount":0,"smartRollupOriginateCount":0,"smartRollupPublishCount":0,"smartRollupRecoverBondCount":0,"smartRollupRefuteCount":0,"refutationGamesCount":0,"activeRefutationGamesCount":0,"stakingOpsCount":0,"autostakingOpsCount":7,"stakingUpdatesCount":10,"setDelegateParametersOpsCount":1,"dalPublishCommitmentOpsCount":0,"firstActivity":1,"firstActivityTime":"2025-09-09T13:04:11Z","lastActivity":164248,"lastActivityTime":"2025-09-30T11:17:39Z","software":{"date":"2025-09-13T00:41:01Z"},"lostBalance":0,"frozenDeposit":12130699997421,"frozenDeposits":12130699997421,"frozenRewards":0,"frozenFees":0}'
    headers:
      Content-Type:
      - application/json
      Mvkt-Known-Level:
      - '164248'
      Mvkt-Level:
      - '164248'
      Mvkt-Synced-At:
      - '2025-09-30T11:17:39Z'
      Mvkt-Version:
      - 1.14.4.0
    status:
      code: 200
      message: OK
[...]
