interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXXAAR1wWQhhe","cycle":5,"level":119991,"hash":"BL4CgQQntuG4UTgPztcoay3b5Fn1TTmsFsCE53VdakCU3vEuwoE","protocol":"PtBoreasK2KPuKbeYtXeEdudEHS7YcMFHE9amwheUc4kejTxgRi","nextProtocol":"PtBoreasK2KPuKbeYtXeEdudEHS7YcMFHE9amwheUc4kejTxgRi","timestamp":"2025-09-25T08:13:09Z","votingEpoch":0,"votingPeriod":0,"knownLevel":119991,"lastSync":"2025-09-25T08:13:09Z","synced":true,"quoteLevel":-1,"quoteBtc":0,"quoteEur":0,"quoteUsd":0,"quoteCny":0,"quoteJpy":0,"quoteKrw":0,"quoteEth":0,"quoteGbp":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      mvkt-known-level:
      - '119991'
      mvkt-level:
      - '119991'
      mvkt-synced-at:
      - '2025-09-25T08:13:09Z'
      mvkt-version:
      - 1.14.4.0
    status:
      code: 200
      message: OK
version: 1
