interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/accounts/mv1Mg1fDVxLHvbE1WhNJZz1N6bKo5edsDQw1
  response:
    body:
      string: '{"id":757,"type":"user","address":"mv1Mg1fDVxLHvbE1WhNJZz1N6bKo5edsDQw1","publicKey":"edpkvCPuoZXadDMT9hfZ2koSeEddiPiQnP3M2FwJxaoSbSKYht379z","revealed":true,"balance":2999389,"rollupBonds":0,"smartRollupBonds":0,"stakedBalance":0,"unstakedBalance":0,"counter":1887,"delegate":{"address":"mv1DYzNBa1zgmgQieaQKzLxU1sV3aQSArNJ2","active":true},"delegationLevel":78060,"delegationTime":"2025-09-20T11:36:19Z","numContracts":0,"rollupsCount":0,"smartRollupsCount":0,"activeTokensCount":0,"tokenBalancesCount":0,"tokenTransfersCount":0,"activeTicketsCount":0,"ticketBalancesCount":0,"ticketTransfersCount":0,"numActivations":0,"numDelegations":1,"numOriginations":0,"numTransactions":1,"numReveals":1,"numRegisterConstants":0,"numSetDepositsLimits":0,"numMigrations":0,"txRollupOriginationCount":0,"txRollupSubmitBatchCount":0,"txRollupCommitCount":0,"txRollupReturnBondCount":0,"txRollupFinalizeCommitmentCount":0,"txRollupRemoveCommitmentCount":0,"txRollupRejectionCount":0,"txRollupDispatchTicketsCount":0,"transferTicketCount":0,"increasePaidStorageCount":0,"drainDelegateCount":0,"smartRollupAddMessagesCount":0,"smartRollupCementCount":0,"smartRollupExecuteCount":0,"smartRollupOriginateCount":0,"smartRollupPublishCount":0,"smartRollupRecoverBondCount":0,"smartRollupRefuteCount":0,"refutationGamesCount":0,"activeRefutationGamesCount":0,"stakingOpsCount":0,"stakingUpdatesCount":0,"setDelegateParametersOpsCount":0,"dalPublishCommitmentOpsCount":0,"firstActivity":78055,"firstActivityTime":"2025-09-20T11:35:29Z","lastActivity":78060,"lastActivityTime":"2025-09-20T11:36:19Z","lostBalance":0}'
    headers:
      Content-Type:
      - application/json
      mvkt-known-level:
      - '119991'
      mvkt-level:
      - '119991'
      mvkt-synced-at:
      - '2025-09-25T08:13:09Z'
      mvkt-version:
      - 1.14.4.0
    status:
      code: 200
      message: OK
version: 1
