interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/rewards/split/mv1CjNm5kcHDBKs5ZwaejxzMUcMVvNGyLC9D/5?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":5,"bakingPower":13588383509806,"totalBakingPower":101977583096576,"ownDelegatedBalance":9137159953145,"externalDelegatedBalance":16448599000000,"delegatorsCount":8,"ownStakedBalance":2842862105905,"externalStakedBalance":0,"stakersCount":0,"expectedBlocks":3274,"expectedEndorsements":22923045,"futureBlocks":1487,"futureBlockRewards":9910642359,"blocks":1802,"blockRewardsDelegated":9461009232,"blockRewardsStakedOwn":2503059914,"blockRewardsStakedEdge":0,"blockRewardsStakedShared":0,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":10347533,"futureEndorsementRewards":21822738840,"endorsements":12576977,"endorsementRewardsDelegated":0,"endorsementRewardsStakedOwn":0,"endorsementRewardsStakedEdge":0,"endorsementRewardsStakedShared":0,"missedEndorsements":940,"missedEndorsementRewards":0,"blockFees":148706,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLostStaked":0,"doubleBakingLostUnstaked":0,"doubleBakingLostExternalStaked":0,"doubleBakingLostExternalUnstaked":0,"doubleEndorsingRewards":0,"doubleEndorsingLostStaked":0,"doubleEndorsingLostUnstaked":0,"doubleEndorsingLostExternalStaked":0,"doubleEndorsingLostExternalUnstaked":0,"doublePreendorsingRewards":0,"doublePreendorsingLostStaked":0,"doublePreendorsingLostUnstaked":0,"doublePreendorsingLostExternalStaked":0,"doublePreendorsingLostExternalUnstaked":0,"vdfRevelationRewardsDelegated":98847,"vdfRevelationRewardsStakedOwn":26152,"vdfRevelationRewardsStakedEdge":0,"vdfRevelationRewardsStakedShared":0,"nonceRevelationRewardsDelegated":12652416,"nonceRevelationRewardsStakedOwn":3347456,"nonceRevelationRewardsStakedEdge":0,"nonceRevelationRewardsStakedShared":0,"nonceRevelationLosses":0,"delegators":[{"address":"KT1WUjHpHtLdtnw6S3A6kH7cia6HCEzWLGqi","delegatedBalance":8878505000000,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":8878505000000,"currentBalance":514},{"address":"KT1Lao27WpW7sf4qAopUUKjc5QZFPxn6ZYfj","delegatedBalance":2336449000000,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":2336449000000,"currentBalance":514},{"address":"KT1XL6VdDrxt9c9LRgAtMsBLFkTfrZmy9g96","delegatedBalance":1401869000000,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":1401869000000,"currentBalance":514},{"address":"KT194AS7JC1hovTVmy38YtwsoQFV97CT7BTw","dele[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXXAAR1wWQhhe","cycle":5,"level":119978,"hash":"BLEEHD3dzBrVT3UXBmz18fZR3y6dFWrSx8bG8qBS7dAK44PYg6G","protocol":"PtBoreasK2KPuKbeYtXeEdudEHS7YcMFHE9amwheUc4kejTxgRi","nextProtocol":"PtBoreasK2KPuKbeYtXeEdudEHS7YcMFHE9amwheUc4kejTxgRi","timestamp":"2025-09-25T08:10:59Z","votingEpoch":0,"votingPeriod":0,"knownLevel":119978,"lastSync":"2025-09-25T08:10:59Z","synced":true,"quoteLevel":-1,"quoteBtc":0,"quoteEur":0,"quoteUsd":0,"quoteCny":0,"quoteJpy":0,"quoteKrw":0,"quoteEth":0,"quoteGbp":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      mvkt-known-level:
      - '119978'
      mvkt-level:
      - '119978'
      mvkt-synced-at:
      - '2025-09-25T08:10:59Z'
      mvkt-version:
      - 1.14.4.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/accounts/mv1F1uHGUvp6DwfokBqMddz6mPZ7imjjg9X5
  response:
    body:
      string: '{"id":9,"type":"delegate","address":"mv1F1uHGUvp6DwfokBqMddz6mPZ7imjjg9X5","active":true,"publicKey":"edpktx8RC8sZ3fQ2GRU5tKiQEiYpb33vb2XzZqKPdXKubNktNmASZ9","revealed":true,"balance":11072043999707,"rollupBonds":0,"smartRollupBonds":0,"stakedBalance":5660401566015,"unstakedBalance":104276315552,"unstakedBaker":{"address":"mv1F1uHGUvp6DwfokBqMddz6mPZ7imjjg9X5"},"externalStakedBalance":0,"externalUnstakedBalance":0,"roundingError":0,"totalStakedBalance":5660401566015,"stakersCount":0,"counter":2,"activationLevel":1,"activationTime":"2025-09-09T13:04:11Z","stakingBalance":56601609683921,"delegatedBalance":45529565684214,"numContracts":0,"rollupsCount":0,"smartRollupsCount":0,"activeTokensCount":0,"tokenBalancesCount":0,"tokenTransfersCount":0,"activeTicketsCount":0,"ticketBalancesCount":0,"ticketTransfersCount":0,"numDelegators":23,"numBlocks":14735,"numEndorsements":119965,"numPreendorsements":3,"numBallots":0,"numProposals":0,"numActivations":0,"numDoubleBaking":0,"numDoubleEndorsing":0,"numDoublePreendorsing":0,"numNonceRevelations":197,"vdfRevelationsCount":0,"numRevelationPenalties":0,"numEndorsingRewards":5,"numDelegations":23,"numOriginations":0,"numTransactions":1,"numReveals":0,"numRegisterConstants":0,"numSetDepositsLimits":0,"numMigrations":1,"txRollupOriginationCount":0,"txRollupSubmitBatchCount":0,"txRollupCommitCount":0,"txRollupReturnBondCount":0,"txRollupFinalizeCommitmentCount":0,"txRollupRemoveCommitmentCount":0,"txRollupRejectionCount":0,"txRollupDispatchTicketsCount":0,"transferTicketCount":0,"increasePaidStorageCount":0,"updateConsensusKeyCount":0,"drainDelegateCount":0,"smartRollupAddMessagesCount":0,"smartRollupCementCount":0,"smartRollupExecuteCount":0,"smartRollupOriginateCount":0,"smartRollupPublishCount":0,"smartRollupRecoverBondCount":0,"smartRollupRefuteCount":0,"refutationGamesCount":0,"activeRefutationGamesCount":0,"stakingOpsCount":0,"autostakingOpsCount":5,"stakingUpdatesCount":6,"setDelegateParametersOpsCount":1,"dalPublishCommitmentOpsCount":0,"firstActivity":1,"firstActivityTime":"2025-09-09T13:04:11Z","lastActivity":119978,"lastActivityTime":"2025-09-25T08:10:59Z","software":{"date":"2025-09-13T00:41:01Z"},"lostBalance":0,"frozenDeposit":5660401566015,"frozenDeposits":5660401566015,"frozenRewards":0,"frozenFees":0}'
    headers:
      Content-Type:
      - application/json
      mvkt-known-level:
      - '119978'
      mvkt-level:
      - '119978'
      mvkt-synced-at:
      - '2025-09-25T08:10:59Z'
      mvkt-version:
      - 1.14.4.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/accounts/mv1Bm6GciQqJiKHvm7BvCZoFsZ4YejxTpVpY
  response:
    body:
      string: '{"id":5,"type":"delegate","address":"mv1Bm6GciQqJiKHvm7BvCZoFsZ4YejxTpVpY","active":true,"publicKey":"edpkuCwGTNtevvbv3EsZeDoJrCqiAYzLxuKWJH5Uesa88RWTyYQa4n","revealed":true,"balance":12074531753729,"rollupBonds":0,"smartRollupBonds":0,"stakedBalance":5169384081377,"unstakedBalance":45794396067,"unstakedBaker":{"address":[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/accounts/mv1KscSac2FXLeksvSChMMaHB8o1p7eJccg3
  response:
    body:
      string: '{"id":6,"type":"delegate","address":"mv1KscSac2FXLeksvSChMMaHB8o1p7eJccg3","active":true,"publicKey":"edpkvLPUwGuQRrY1U95Xb47aLnP7wqb2KycCwmY1QJyViHzm1jepCw","revealed":true,"balance":12066686825527,"rollupBonds":0,"smartRollupBonds":0,"stakedBalance":7489517264742,"unstakedBalance":202695331,"unstakedBaker":{"address":"m[...]
