interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/rewards/split/mv1CjNm5kcHDBKs5ZwaejxzMUcMVvNGyLC9D/5?offset=0&limit=10000
  response:
    body:
      string: '{"cycle":5,"bakingPower":13588383509806,"totalBakingPower":101977583096576,"ownDelegatedBalance":9137159953145,"externalDelegatedBalance":16448599000000,"delegatorsCount":8,"ownStakedBalance":2842862105905,"externalStakedBalance":0,"stakersCount":0,"expectedBlocks":3274,"expectedEndorsements":22923045,"futureBlocks":1486,"futureBlockRewards":9903977502,"blocks":1803,"blockRewardsDelegated":9466257131,"blockRewardsStakedOwn":2504448312,"blockRewardsStakedEdge":0,"blockRewardsStakedShared":0,"missedBlocks":0,"missedBlockRewards":0,"futureEndorsements":10335270,"futureEndorsementRewards":21822738840,"endorsements":12589240,"endorsementRewardsDelegated":0,"endorsementRewardsStakedOwn":0,"endorsementRewardsStakedEdge":0,"endorsementRewardsStakedShared":0,"missedEndorsements":940,"missedEndorsementRewards":0,"blockFees":148706,"missedBlockFees":0,"doubleBakingRewards":0,"doubleBakingLostStaked":0,"doubleBakingLostUnstaked":0,"doubleBakingLostExternalStaked":0,"doubleBakingLostExternalUnstaked":0,"doubleEndorsingRewards":0,"doubleEndorsingLostStaked":0,"doubleEndorsingLostUnstaked":0,"doubleEndorsingLostExternalStaked":0,"doubleEndorsingLostExternalUnstaked":0,"doublePreendorsingRewards":0,"doublePreendorsingLostStaked":0,"doublePreendorsingLostUnstaked":0,"doublePreendorsingLostExternalStaked":0,"doublePreendorsingLostExternalUnstaked":0,"vdfRevelationRewardsDelegated":98847,"vdfRevelationRewardsStakedOwn":26152,"vdfRevelationRewardsStakedEdge":0,"vdfRevelationRewardsStakedShared":0,"nonceRevelationRewardsDelegated":12652416,"nonceRevelationRewardsStakedOwn":3347456,"nonceRevelationRewardsStakedEdge":0,"nonceRevelationRewardsStakedShared":0,"nonceRevelationLosses":0,"delegators":[{"address":"KT1WUjHpHtLdtnw6S3A6kH7cia6HCEzWLGqi","delegatedBalance":8878505000000,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":8878505000000,"currentBalance":514},{"address":"KT1Lao27WpW7sf4qAopUUKjc5QZFPxn6ZYfj","delegatedBalance":2336449000000,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":2336449000000,"currentBalance":514},{"address":"KT1XL6VdDrxt9c9LRgAtMsBLFkTfrZmy9g96","delegatedBalance":1401869000000,"stakedBalance":0,"emptied":false,"currentDelegatedBalance":257,"currentStakedBalance":257,"balance":1401869000000,"currentBalance":514},{"address":"KT194AS7JC1hovTVmy38YtwsoQFV97CT7BTw","dele[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.mavryk.network/v1/head
  response:
    body:
      string: '{"chain":"mainnet","chainId":"NetXXAAR1wWQhhe","cycle":5,"level":119991,"hash":"BL4CgQQntuG4UTgPztcoay3b5Fn1TTmsFsCE53VdakCU3vEuwoE","protocol":"PtBoreasK2KPuKbeYtXeEdudEHS7YcMFHE9amwheUc4kejTxgRi","nextProtocol":"PtBoreasK2KPuKbeYtXeEdudEHS7YcMFHE9amwheUc4kejTxgRi","timestamp":"2025-09-25T08:13:09Z","votingEpoch":0,"votingPeriod":0,"knownLevel":119991,"lastSync":"2025-09-25T08:13:09Z","synced":true,"quoteLevel":-1,"quoteBtc":0,"quoteEur":0,"quoteUsd":0,"quoteCny":0,"quoteJpy":0,"quoteKrw":0,"quoteEth":0,"quoteGbp":0}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      mvkt-known-level:
      - '119991'
      mvkt-level:
      - '119991'
      mvkt-synced-at:
      - '2025-09-25T08:13:09Z'
      mvkt-version:
      - 1.14.4.0
    status:
      code: 200
      message: OK
version: 1
